:root {
  --color-white: #fff;
  --color-blue-primary: #2b7de9;
  --color-blue-opacity-50: #2b7de950;
  --color-blue-opacity-80: #2b7de980;
  --color-blue-dark: #131b26;
  --color-blue-dark-1: #17181e;
  --color-lightBlue-secondary: #2c3748;
  --color-lightBlue-secondary-opacity-50: #2c374850;
  --background-color-dark: #131b26;
  --lightBlue-secondary-opacity: #2c374850;
  --lightBlue-secondary: #2c3748;
  --danger-color: #ba5a3c;
  --turquoise-color: #4bdbca;
  --color-primary-button: #2b7de9;
  --color-primary-button-opacity: #2b7de950;
  --text-color-primary: #fff;
  --grey-color: #d9d9d9;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --font-title: "Azonix";
  --font-special: "Azonix";
  --font-default: "Montserrat";
  --font-alexandra: "Alexandra";
  --breakpoint-xs: 438px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --navbar-height: 80px;
}

html {
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  font-family: var(--font-default), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

body {
  width: 100%;
  font-size: 16px;
  min-height: 100vh;
  background-color: var(--background-color-dark);
  color: var(--text-color-primary);
  overflow-x: hidden;
  cursor: default;
}

.text-azonix {
  font-family: "Azonix", sans-serif;
}

.text-error {
  color: #480614;
  background: #bb7c7c;
  padding: 0.6rem 1rem;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  font-weight: 600;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/**Grid **/

.d-grid {
  display: grid;
}

.justify-self-start {
  justify-self: start;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-end {
  justify-self: end;
}
.align-self-start {
  align-self: start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: end;
}

.align-item-center {
  align-items: center;
}

/** Flex Positions **/
.d-flex {
  display: flex;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}

/** Text-format **/

.text-upper {
  text-transform: uppercase;
}
.text-lower {
  text-transform: lowercase;
}

/** Text-style **/

.text-bold {
  font-weight: bold;
}
.text-bolder {
  font-weight: bolder;
}

/** Margin **/
.m-0 {
  margin: 0 !important;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 1.3rem;
}
.mt-3 {
  margin-top: 1.8rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 1.3rem;
}
.mb-3 {
  margin-bottom: 1.8rem;
}
