@use "variables";

/**** Theme SASPD ******/
.theme-sasp {
  background-color: variables.$sasp-bg-color;
  min-height: 100vh;
  width: 100%;

  .sidebar {
    background-color: variables.$sasp-secondary-color;
    min-height: 100vh;
    .sidebar-selected,
    .active,
    .selected {
      background-color: rgba($color: variables.$sasp-primary-color, $alpha: 1);
      //text-shadow: 0px 0px 8px rgba(0,0,0,1);
      color: variables.$sasp-secondary-color;
      font-weight: bolder;
    }
  }

  .navbar {
    background-color: variables.$sasp-bg-color;

    .agent-grade {
      color: variables.$sasp-secondary-color;
      font-weight: bold;
    }
  }

  .btn {
    background-color: variables.$sasp-primary-color;
    padding: 10px 15px;
    width: fit-content;
    height: fit-content;
    transition: all 0.35s ease 0s;
    &:hover {
      box-shadow: rgba(43, 125, 233, 0.8) 0px 0px 10px;
    }
    color: variables.$sasp-secondary-color;
  }

  .dropdown-menu {
    background-color: variables.$sasp-secondary-color;
    // box-shadow: variables.$lspd-shadow-color;
  }
}
/**** End ******/

/** Scrollbar **/
html:has(.theme-sasp) {
  -ms-overflow-style: none;
  scrollbar-color: variables.$sasp-primary-color
    rgba($color: variables.$sasp-primary-color, $alpha: 0.5);
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(
      $color: variables.$sasp-secondary-color,
      $alpha: 0.6
    );
    border-radius: 100px;
  }

  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: lighten(variables.$sasp-primary-color, 15%);
    border-radius: 100px;
  }
}

/** Title or Special elements **/

html:has(.theme-sasp) {
  .bg-selected-theme-color {
    background-color: variables.$sasp-primary-color;
    //text-shadow: 0px 0px 2px  rgba(0, 0, 0, 1) ;
    font-weight: bolder;
    color: variables.$sasp-secondary-color;
  }

  .grade-category-name {
    color: variables.$sasp-secondary-color;
  }

  .grade-category-col-separator {
    border-right: solid 2px variables.$lspd-secondary-color;
  }

  .bg-btn-theme-color {
    background-color: variables.$sasp-primary-color;
    color: variables.$sasp-secondary-color;
    font-weight: bold;
    &:hover {
      background-color: darken(variables.$sasp-primary-color, 15%);
      box-shadow: 0 0 8px
        rgba($color: variables.$sasp-primary-color, $alpha: 0.8);
    }
    &:active {
      background-color: variables.$sasp-primary-color;
    }
  }
  .bg-btn-alt-theme-color {
    background-color: variables.$sasp-secondary-color;
    &:hover {
      background-color: darken(variables.$sasp-secondary-color, 15%);
      box-shadow: 0 0 8px
        rgba($color: variables.$sasp-secondary-color, $alpha: 0.3);
    }
    &:active {
      background-color: variables.$sasp-secondary-color;
    }
  }

  .dataTable-theme-color {
    & tbody tr {
      background-color: rgba($color: variables.$lspd-third-color, $alpha: 0.5);
      &:hover {
        background-color: rgba($color: variables.$lspd-third-color, $alpha: 1);
      }
    }
    & tbody tr td {
      background-color: rgba($color: variables.$lspd-third-color, $alpha: 0.5);
    }
  }

  .bg-header-tabs {
    background-color: variables.$sasp-secondary-color;
  }

  .paginate-btn {
    color: variables.$sasp-secondary-color;
  }

  #pageIndex {
    background-color: variables.$sasp-secondary-color;
  }

  .modal-theme-color,
  .form-bg-theme-color {
    background-color: rgba($color: variables.$sasp-secondary-color, $alpha: 1);
    border: 1px solid rgba($color: variables.$sasp-primary-color, $alpha: 1);
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.35);
  }

  /*Dropdown select */
  .dropdown-select-custom {
    @media screen and (min-width: 992px) {
      width: 100%;
    }

    & .Dropdown-control {
      background-color: transparent;
      color: #fff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border: 1px solid rgba($color: variables.$sasp-primary-color, $alpha: 0.5);
      cursor: pointer;
    }

    & .Dropdown-option {
      background-color: rgba($color: variables.$lspd-primary-color, $alpha: 0);
      color: #444;
      &:hover {
        background-color: rgba(
          $color: variables.$lspd-primary-color,
          $alpha: 1
        );
        color: #fff;
      }
    }
  }

  .listGradeItem_selected {
    &:before {
      background-color: variables.$sasp-secondary-color !important;
    }
  }

  .header-page-select-container,
  .header-tab-select-container {
    background-color: variables.$sasp-secondary-color;
  }

  .table-page-access {
    text-shadow: 0px 0px 2px
      rgba($color: variables.$sasp-secondary-color, $alpha: 1);
  }

  /** React Select **/

  //Custom de l'input
  .theme-custom__control {
    background-color: transparent;
    border: 1px solid rgba($color: variables.$sasp-primary-color, $alpha: 0.5);
    color: #fff;
    cursor: pointer;

    &.theme-custom__control--is-focused {
      border-color: rgba(
        $color: lighten(variables.$sasp-primary-color, 10%),
        $alpha: 1
      );
      box-shadow: 0 0 15px
        rgba($color: variables.$sasp-primary-color, $alpha: 0.15);
    }
    & .theme-custom__indicator-separator {
      display: none;
    }

    & .theme-custom__value-container {
      color: inherit;
    }

    & .theme-custom__single-value {
      color: inherit;
    }
    &.theme-custom__input-container {
      color: inherit;
    }
    .theme-custom__multi-value {
      color: variables.$sasp-secondary-color;
      .theme-custom__multi-value__label {
        color: variables.$sasp-secondary-color;
        font-weight: 600;
      }
    }
  }

  //Custom du menu option
  .theme-custom__menu {
    /*  padding: 0 5px; */
    .theme-custom__option {
      background-color: #fff;
      color: #444;
      cursor: pointer;
      &:hover {
        background-color: variables.$lspd-primary-color;
        color: #fff;
      }
    }

    .theme-custom-option-selected {
      background-color: variables.$lspd-primary-color;
      color: #fff;
    }
  }

  .theme-dashboard-card {
    background-color: variables.$sasp-secondary-color;
    box-shadow: 5px 5px 12px 0px
      rgba($color: variables.$sasp-secondary-color, $alpha: 0.25);
    .info-card-title {
      color: #fff;
    }

    .info-card-icon {
      color: #fff;
      background-color: rgba($color: #000000, $alpha: 0.5);
      border: 1px solid #fff;
    }
  }

  .theme-dashboard-card-table {
    background-color: rgba($color: variables.$sasp-primary-color, $alpha: 0.5);
    box-shadow: 3px 3px 8px 0px
      rgba($color: variables.$sasp-secondary-color, $alpha: 0.8);

    .card-table-header {
      background-color: variables.$sasp-secondary-color;
      color: #fff;
    }
  }

  /**Formulaire **/

  .input-theme-color {
    svg {
      color: rgba($color: variables.$sasp-secondary-color, $alpha: 0.5);
    }
    input {
      border-color: rgba($color: variables.$sasp-secondary-color, $alpha: 0.5);
      background-color: rgba($color: #000000, $alpha: 0.1);

      &:focus {
        border-color: rgba($color: variables.$sasp-secondary-color, $alpha: 1);
        box-shadow: 0 0 15px
          rgba($color: variables.$sasp-secondary-color, $alpha: 0.15);
      }

      &::placeholder {
        color: rgba($color: variables.$sasp-secondary-color, $alpha: 0.8);
      }
    }
  }

  .form-theme-color {
    select,
    input,
    textarea {
      border: 1px solid rgba($color: variables.$sasp-primary-color, $alpha: 0.5);
      padding: 1rem;
      width: 100%;

      &::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
      &:focus {
        border-color: rgba(
          $color: lighten(variables.$sasp-primary-color, 10%),
          $alpha: 1
        );
        box-shadow: 0 0 15px
          rgba($color: variables.$sasp-primary-color, $alpha: 0.15);
      }
      transition: all 0.25s;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

    label {
      display: block;
      margin-bottom: 1.3rem;
    }

    option {
      color: black;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      font-size: 1.3rem;
    }

    fieldset {
      border: 1px solid rgba($color: variables.$sasp-primary-color, $alpha: 0.5);
    }
  }

  .form-theme-color-alt {
    select,
    input,
    textarea {
      border: 1px solid
        rgba($color: variables.$sasp-secondary-color, $alpha: 0.5);
      padding: 1rem;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.1);

      &::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }

      &:focus {
        border: 1px solid
          rgba($color: variables.$sasp-secondary-color, $alpha: 1);
        box-shadow: 0 0 15px
          rgba($color: variables.$sasp-secondary-color, $alpha: 0.3);
      }
      transition: all 0.25s;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      &::placeholder {
        color: rgba($color: variables.$sasp-primary-color, $alpha: 1);
      }
    }

    label {
      display: block;
      margin-bottom: 1.3rem;
    }

    option {
      color: black;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      font-size: 1.3rem;
    }

    fieldset {
      border: 1px solid
        rgba($color: variables.$sasp-secondary-color, $alpha: 0.5);
    }
  }

  .theme-text-editor {
    border: 1px solid rgba($color: variables.$sasp-primary-color, $alpha: 0.5);
    position: relative;

    margin: 25px 0;

    &:has(.ProseMirror-focused) {
      border-color: rgba(
        $color: lighten(variables.$sasp-primary-color, 10%),
        $alpha: 1
      );
      box-shadow: 0 0 15px
        rgba($color: variables.$sasp-primary-color, $alpha: 0.15);
    }
  }

  .theme-text-editor-alt {
    border: 1px solid rgba($color: variables.$sasp-secondary-color, $alpha: 0.5);
    position: relative;

    margin: 25px 0;

    &:has(.ProseMirror-focused) {
      border: 1px solid rgba($color: variables.$sasp-secondary-color, $alpha: 1);
      box-shadow: 0 0 15px
        rgba($color: variables.$sasp-secondary-color, $alpha: 0.3);
    }
  }

  .theme-card-trombinoscop {
    background-color: rgba($color: variables.$lspd-secondary-color, $alpha: 1);
    border: 0.5px solid
      rgba($color: variables.$lspd-primary-color, $alpha: 0.31);
  }

  .aside-agent-bg,
  .aside-civil-bg {
    background-color: variables.$sasp-secondary-color;

    .photo {
      border: 1px solid rgba(variables.$lspd-primary-color, $alpha: 1);
    }
  }

  .bg-card-item {
    background-color: variables.$sasp-secondary-color;
    box-shadow: 1px 1px 8px 3px rgba($color: #000000, $alpha: 0.15);
  }

  .theme-bg-tooltip {
    background-color: variables.$sasp-secondary-color;
  }

  .bg-card-item-alt {
    background-color: variables.$lspd-third-color;
    box-shadow: 1px 1px 8px 3px rgba($color: #000000, $alpha: 0.15);
  }

  .bg-icon-card-item {
    background-color: variables.$sasp-secondary-color;
  }

  .bg-panic-button {
    background-color: rgba(
      $color: variables.$sasp-secondary-color,
      $alpha: 0.5
    );
    text-transform: uppercase;
    border: 1px solid variables.$sasp-secondary-color;
    &:hover {
      background-color: rgba(
        $color: variables.$sasp-secondary-color,
        $alpha: 1
      );
    }

    &:active {
      transform: scale(0.95);
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
    }
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
  }
  .panic-btn-activate {
    background-color: rgba($color: #820c0c, $alpha: 0.5);
    border: 1px solid #820c0c;
    text-shadow: 0px 3px 8px #000000;
    &:hover {
      background-color: #820c0c;
    }
  }
  .add-row-saisie-btn {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 0.5;
    }
  }
  .remove-row-saisie-btn {
    opacity: 0.5;
    background-color: #fff;
    color: variables.$sasp-secondary-color;
    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 0.5;
    }
  }

  /**Form tab **/

  .form-tab-select {
    .react-tabs__tab--selected {
      border-radius: 5px;
      padding: 0.5rem 1.3rem;
      background-color: variables.$sasp-primary-color;
      color: variables.$sasp-secondary-color;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transition: background 0.35s;
      -webkit-transition: background 0.35s;
      -moz-transition: background 0.35s;
      -ms-transition: background 0.35s;
      -o-transition: background 0.35s;
    }
  }

  /*********/
}
