@use 'variables';


/**** Theme LSPD ******/
.theme-lspd
{
    background-color: variables.$lspd-bg-color;
    min-height: 100vh;
    width: 100%;

    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: var(--color-blue-opacity-50);
        border-radius: 100px;
    }
    
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: var(--color-blue-primary);
        border-radius: 100px;
    }
    
    html {
        -ms-overflow-style: none;
        scrollbar-color: var(--color-blue-primary) var(--color-blue-opacity-50);
        scrollbar-width: thin;
    }
    
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }


    .sidebar{

        background-color: variables.$lspd-secondary-color;
        min-height: 100vh;
        .sidebar-selected,.active,.selected{
            background-color: rgba($color: variables.$lspd-primary-color, $alpha: 0.5);
        }

    }

    .navbar{
        background-color: variables.$lspd-bg-color;
    }

    .btn
    {
        background-color: variables.$lspd-primary-color;
        padding: 10px 15px;
        width: fit-content;
        height: fit-content;
        transition: all 0.35s ease 0s;
        &:hover
        {
         box-shadow: rgba(43, 125, 233, 0.8) 0px 0px 10px 
        }
    }


    .dropdown-menu{
        background-color: variables.$lspd-secondary-color;
       // box-shadow: variables.$lspd-shadow-color;

    }
    


}

html{

    -ms-overflow-style: none;
    scrollbar-color: var(--color-blue-primary) var(--color-blue-opacity-50);
    scrollbar-width: thin;

    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: var(--color-blue-opacity-50);
        border-radius: 100px;
    }
    
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: var(--color-blue-primary);
        border-radius: 100px;
    }

}


/**** End ******/



/**** Theme BCSO ***/
.theme-bcso{

    background-color: variables.$bcso-bg-color;
    min-height: 100vh;
    width: 100%;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 100px;
    }
    
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 100px;
    }
    
    html {
        -ms-overflow-style: none;
        scrollbar-color: rgba(131, 130, 126, 0.3137254902) rgba(0, 0, 0, 0.3);
        scrollbar-width: thin;
    }
    
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }


    .sidebar{

        background-color:  variables.$bcso-secondary-color;
        min-height: 100vh;
        .sidebar-selected,.active,.selected{
            background-color: rgba($color: variables.$bcso-primary-color, $alpha: 0.5);
        }

    }

    .navbar{
        background-color: variables.$bcso-bg-color;
    }

    .btn
    {
        background-color: variables.$bcso-primary-color;
        padding: 10px 15px;
        width: fit-content;
        height: fit-content;
        transition: all 0.35s ease 0s;
        &:hover
        {
         box-shadow: variables.$bcso-shadow-color;
        }
    }

    .dropdown-menu{
        background-color:  variables.$bcso-secondary-color;
       // box-shadow: variables.$bcso-shadow-color;
    }

    
}

/** Scrollbar style **/
html:has(.theme-bcso)
{
    -ms-overflow-style: none;
    scrollbar-color: rgba(131, 130, 126, 0.3137254902) rgba(0, 0, 0, 0.3);
    scrollbar-width: thin;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 100px;
    }
    
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 100px;
    }
    
    html {
        -ms-overflow-style: none;
        scrollbar-color: rgba(131, 130, 126, 0.3137254902) rgba(0, 0, 0, 0.3);
        scrollbar-width: thin;
    }
    
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }



}

/** End **/


/** Theme DOJ **/
.theme-doj
{

    background-color: variables.$doj-bg-color;
    min-height: 100vh;
    width: 100%;

    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 100px;
    }
    
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        border-radius: 100px;
    }
    
    html {
        -ms-overflow-style: none;
        scrollbar-color: #6A6C60 rgba(0, 0, 0, 0.3);
        scrollbar-width: thin;
    }
    
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    .sidebar{

        background-color:  variables.$doj-secondary-color;
        min-height: 100vh;
        .sidebar-selected,.active,.selected{
            background-color: rgba($color: variables.$doj-primary-color, $alpha: 0.5);
        }

    }

    .navbar{
        background-color: variables.$doj-bg-color;
    }

    .btn
    {
        background-color: variables.$bcso-primary-color;
        padding: 10px 15px;
        width: fit-content;
        height: fit-content;
        transition: all 0.35s ease 0s;
        &:hover
        {
         box-shadow: variables.$bcso-shadow-color;
        }
     
    }
        .dropdown-menu{
            background-color: variables.$doj-secondary-color;
           // box-shadow: variables.$doj-shadow-color;
        }
    
}

html:has(.theme-doj)
{
    -ms-overflow-style: none;
    scrollbar-color: #6A6C60 rgba(0, 0, 0, 0.3);
    scrollbar-width: thin;

    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 100px;
    }
    
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        border-radius: 100px;
    }
    
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }



}


/** Title or Specieal elements **/

html:has(.theme-bcso)
{
    .grade-category-name {
        color: variables.$bcso-secondary-color;
    }
    .grade-category-col-separator
    {
        border-right: solid 2px variables.$bcso-secondary-color;
    }
    .bg-btn-theme-color{
        background-color: variables.$bcso-primary-color;
        box-shadow: 0px 0px 8px rgba($color: variables.$bcso-secondary-color, $alpha: 0.45);
        &:hover{
            background-color: darken(variables.$bcso-primary-color, 5%);
           // box-shadow: 0px 0px 8px rgba($color: variables.$bcso-primary-color, $alpha: 0.45);
        }
        
    }
    .bg-btn-alt-theme-color{
        background-color: variables.$bcso-secondary-color;
        &:hover{
            background-color: darken(variables.$bcso-secondary-color, 10%);
        }
    }

  .dataTable-theme-color{
    & tbody tr {
        background-color: rgba($color:  variables.$bcso-secondary-color, $alpha: 0.5) ;
        &:hover{
            background-color: rgba($color:  variables.$bcso-secondary-color, $alpha: 1) ;
        }
    
      }
      & tbody tr td {
        background-color: rgba($color:  variables.$bcso-secondary-color, $alpha: 0.5) ;
      } 

    }


    .input-theme-color{
        svg{
            color:rgba($color: #fff, $alpha: 0.55); 
        }
        input{
            border-color: rgba($color:  variables.$bcso-secondary-color, $alpha: 0.5);
            background-color:rgba($color:  variables.$bcso-secondary-color, $alpha: 0.3) ;
   
            &:focus{
                border-color: rgba($color:  variables.$bcso-secondary-color, $alpha: 1);
                box-shadow: 0 0 15px rgba($color:  variables.$bcso-secondary-color, $alpha: 0.25);
            }
            &::placeholder{
                color:rgba($color: #fff, $alpha: 0.55); 
            }
            
        }


   
    }

    .form-theme-color{
     
        select, input{
             border: 1px solid rgba($color: #fff, $alpha: 0.25);
             padding: 1rem;
             width: 100%;
             background-color:rgba($color:  variables.$bcso-secondary-color, $alpha: 0.3) ;
    
             &:focus{
                 border-color: rgba($color:  variables.$bcso-primary-color, $alpha: 1);
                 box-shadow: 0 0 24px rgba($color:  variables.$bcso-primary-color, $alpha: 0.25);
                }
             transition:all 0.25s ;
             -webkit-transition:all 0.25s ;
             -moz-transition:all 0.25s ;
             -ms-transition:all 0.25s ;
             -o-transition:all 0.25s ;
             border-radius: 5px;
             -webkit-border-radius: 5px;
             -moz-border-radius: 5px;
             -ms-border-radius: 5px;
             -o-border-radius: 5px;
            }


            label{
                display: block;
                margin-bottom: 1.3rem;
            }

            option{
                color: black;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
             font-size: 1.3rem;
            }

}

    .modal-theme-color{
        background-color: rgba($color:  darken(variables.$bcso-secondary-color,3%), $alpha: 1);
        border:0.5px solid rgba($color:  variables.$bcso-primary-color, $alpha: 1);
        box-shadow: 0 0 8px rgba($color:  variables.$bcso-primary-color, $alpha: 0.35);
      

    }



}

html:has(.theme-lspd)
{
    .grade-category-name {
        color: var(--danger-color);
    }
    .grade-category-col-separator
    {
        border-right: solid 2px var(--danger-color);
    }
    .bg-btn-theme-color{
        background-color: variables.$lspd-primary-color;
        &:hover{
            background-color: darken(variables.$lspd-primary-color, 10%);
        }
    }
    .bg-btn-alt-theme-color{
        background-color: variables.$lspd-primary-color;
        &:hover{
            background-color: darken(variables.$lspd-primary-color, 10%);
        }
    }

    .dataTable-theme-color{
        & tbody tr {
            background-color: rgba($color:  variables.$lspd-third-color, $alpha: 0.5) ;
            &:hover{
                background-color: rgba($color:  variables.$lspd-third-color, $alpha: 1) ;
            }
        
          }
         & tbody tr td {
            background-color: rgba($color:  variables.$lspd-third-color, $alpha: 0.5) ;    
          }
    
        }

        .input-theme-color{
            svg{
               color:rgba($color:  variables.$lspd-primary-color, $alpha: 0.5); 
            }
            input{
                border-color: rgba($color:  variables.$lspd-primary-color, $alpha: 0.5);
       
                &:focus{
                    border-color: rgba($color:  variables.$lspd-primary-color, $alpha: 1);
                    box-shadow: 0 0 15px rgba($color:  variables.$lspd-primary-color, $alpha: 0.15);
                }

                
            }


       
        }

        .form-theme-color{
         
            select, input{
                 border: 1px solid rgba($color:  variables.$lspd-primary-color, $alpha: 0.5);
                 padding: 1rem;
                 width: 100%;
        
                 &:focus{
                     border-color: rgba($color:  variables.$lspd-primary-color, $alpha: 1);
                     box-shadow: 0 0 15px rgba($color:  variables.$lspd-primary-color, $alpha: 0.15);
                    }
                 transition:all 0.25s ;
                 -webkit-transition:all 0.25s ;
                 -moz-transition:all 0.25s ;
                 -ms-transition:all 0.25s ;
                 -o-transition:all 0.25s ;
                 border-radius: 5px;
                 -webkit-border-radius: 5px;
                 -moz-border-radius: 5px;
                 -ms-border-radius: 5px;
                 -o-border-radius: 5px;
                }
 

                label{
                    display: block;
                    margin-bottom: 1.3rem;
                }

                option{
                    color: black;
                    border-radius: 0px;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    -ms-border-radius: 0px;
                    -o-border-radius: 0px;
                 font-size: 1.3rem;
                }
    
}

        .modal-theme-color{
            background-color: rgba($color:  variables.$lspd-secondary-color, $alpha: 1);
            border:0.5px solid rgba($color:  variables.$lspd-primary-color, $alpha: 0.31);
            box-shadow: 0 0 8px rgba($color:  variables.$lspd-primary-color, $alpha: 0.35);
          

        }
    
    
    
}

html:has(.theme-doj)
{
    .grade-category-name {
        color: variables.$doj-third-color;
    }
    .grade-category-col-separator
    {
        border-right: solid 2px variables.$doj-third-color;
    }
    
    .bg-btn-theme-color{
        background-color: variables.$doj-primary-color;
        box-shadow: 0 0 15px rgba($color:  variables.$doj-third-color, $alpha: 0.25);
        &:hover{
            background-color: darken(variables.$doj-primary-color, 10%);
        }
    }
    .bg-btn-alt-theme-color{
        background-color: darken(variables.$doj-secondary-color, 10%);
        &:hover{
            background-color: darken(variables.$doj-secondary-color, 15%);
        }
    }


    .dataTable-theme-color{
        & tbody tr {
            background-color: rgba($color:  variables.$doj-secondary-color, $alpha: 0.5) ;
            &:hover{
                background-color: rgba($color:  variables.$doj-secondary-color, $alpha: 1) ;
            }
        
          }
         & tbody tr td {
            background-color: rgba($color:  variables.$doj-secondary-color, $alpha: 0.5) ;    
          }
    
        }
    
    
    
    .input-theme-color{
        svg{
           color:rgba($color:  #fff, $alpha: 0.5); 
        }
        input{
            border-color: rgba($color: #fff, $alpha: 0.3);
           //background-color:rgba($color:  variables.$doj-secondary-color, $alpha: 0.3) ;
    
            &:focus{
                border-color: rgba($color:  variables.$doj-secondary-color, $alpha: 1);
                box-shadow: 0 0 15px rgba($color:  variables.$doj-secondary-color, $alpha: 0.25);
            }
            &::placeholder{
                color:rgba($color: #fff, $alpha: 0.55); 
            }
            
        }
    
    
    
    }
    
    .form-theme-color{
     
        select, input{
             border: 1px solid rgba($color:  #fff, $alpha: 0.3);
             padding: 1rem;
             width: 100%;
             background-color:rgba($color:  variables.$doj-secondary-color, $alpha: 0.3) ;
             &::placeholder{
                color:rgba($color: #fff, $alpha: 0.45); 
            }
             &:focus{
                 border-color: rgba($color:  variables.$doj-primary-color, $alpha: 1);
                 box-shadow: 0 0 18px rgba($color:  variables.$doj-primary-color, $alpha: 0.25);
                }
             transition:all 0.25s ;
             -webkit-transition:all 0.25s ;
             -moz-transition:all 0.25s ;
             -ms-transition:all 0.25s ;
             -o-transition:all 0.25s ;
             border-radius: 5px;
             -webkit-border-radius: 5px;
             -moz-border-radius: 5px;
             -ms-border-radius: 5px;
             -o-border-radius: 5px;
            }
    
    
            label{
                display: block;
                margin-bottom: 1.3rem;
            }
    
            option{
                color: black;
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
             font-size: 1.3rem;
            }
    
    }
    
    .modal-theme-color{
        background-color: rgba($color:  darken(variables.$doj-secondary-color,5%), $alpha: 1);
        border:0.5px solid rgba($color:  variables.$doj-primary-color, $alpha: 1);
        box-shadow: 0 0 8px rgba($color:  variables.$doj-primary-color, $alpha: 0.35);
      
    
    }
    
    



}






.bg-danger-btn{
    background-color: variables.$red;
    &:hover{
        background-color: darken(variables.$red, 10%);
    }
}