.dicord-btn {
  padding: 10px 15px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 18px auto;
  background-color: #5865f2;
  border-radius: 5px;
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  transition: all 0.15s;
  font-size: 1.6rem;
}

/**** Theme SASPD ******/
.theme-sasp {
  background-color: #767676;
  min-height: 100vh;
  width: 100%;
}
.theme-sasp .sidebar {
  background-color: #131B26;
  min-height: 100vh;
}
.theme-sasp .sidebar .sidebar-selected,
.theme-sasp .sidebar .active,
.theme-sasp .sidebar .selected {
  background-color: #969696;
  color: #131B26;
  font-weight: bolder;
}
.theme-sasp .navbar {
  background-color: #767676;
}
.theme-sasp .navbar .agent-grade {
  color: #131B26;
  font-weight: bold;
}
.theme-sasp .btn {
  background-color: #969696;
  padding: 10px 15px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 0.35s ease 0s;
  color: #131B26;
}
.theme-sasp .btn:hover {
  box-shadow: rgba(43, 125, 233, 0.8) 0px 0px 10px;
}
.theme-sasp .dropdown-menu {
  background-color: #131B26;
}

/**** End ******/
/** Scrollbar **/
html:has(.theme-sasp) {
  -ms-overflow-style: none;
  scrollbar-color: #969696 rgba(150, 150, 150, 0.5);
  scrollbar-width: thin;
}
html:has(.theme-sasp) ::-webkit-scrollbar {
  width: 5px;
}
html:has(.theme-sasp) ::-webkit-scrollbar-track {
  background-color: rgba(19, 27, 38, 0.6);
  border-radius: 100px;
}
html:has(.theme-sasp) ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bcbcbc;
  border-radius: 100px;
}

/** Title or Special elements **/
html:has(.theme-sasp) {
  /*Dropdown select */
  /** React Select **/
  /**Formulaire **/
  /**Form tab **/
  /*********/
}
html:has(.theme-sasp) .bg-selected-theme-color {
  background-color: #969696;
  font-weight: bolder;
  color: #131B26;
}
html:has(.theme-sasp) .grade-category-name {
  color: #131B26;
}
html:has(.theme-sasp) .grade-category-col-separator {
  border-right: solid 2px #131B26;
}
html:has(.theme-sasp) .bg-btn-theme-color {
  background-color: #969696;
  color: #131B26;
  font-weight: bold;
}
html:has(.theme-sasp) .bg-btn-theme-color:hover {
  background-color: #707070;
  box-shadow: 0 0 8px rgba(150, 150, 150, 0.8);
}
html:has(.theme-sasp) .bg-btn-theme-color:active {
  background-color: #969696;
}
html:has(.theme-sasp) .bg-btn-alt-theme-color {
  background-color: #131B26;
}
html:has(.theme-sasp) .bg-btn-alt-theme-color:hover {
  background-color: black;
  box-shadow: 0 0 8px rgba(19, 27, 38, 0.3);
}
html:has(.theme-sasp) .bg-btn-alt-theme-color:active {
  background-color: #131B26;
}
html:has(.theme-sasp) .dataTable-theme-color tbody tr {
  background-color: rgba(44, 55, 72, 0.5);
}
html:has(.theme-sasp) .dataTable-theme-color tbody tr:hover {
  background-color: #2c3748;
}
html:has(.theme-sasp) .dataTable-theme-color tbody tr td {
  background-color: rgba(44, 55, 72, 0.5);
}
html:has(.theme-sasp) .bg-header-tabs {
  background-color: #131B26;
}
html:has(.theme-sasp) .paginate-btn {
  color: #131B26;
}
html:has(.theme-sasp) #pageIndex {
  background-color: #131B26;
}
html:has(.theme-sasp) .modal-theme-color,
html:has(.theme-sasp) .form-bg-theme-color {
  background-color: #131b26;
  border: 1px solid #969696;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}
@media screen and (min-width: 992px) {
  html:has(.theme-sasp) .dropdown-select-custom {
    width: 100%;
  }
}
html:has(.theme-sasp) .dropdown-select-custom .Dropdown-control {
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid rgba(150, 150, 150, 0.5);
  cursor: pointer;
}
html:has(.theme-sasp) .dropdown-select-custom .Dropdown-option {
  background-color: rgba(43, 125, 233, 0);
  color: #444;
}
html:has(.theme-sasp) .dropdown-select-custom .Dropdown-option:hover {
  background-color: #2b7de9;
  color: #fff;
}
html:has(.theme-sasp) .listGradeItem_selected:before {
  background-color: #131B26 !important;
}
html:has(.theme-sasp) .header-page-select-container,
html:has(.theme-sasp) .header-tab-select-container {
  background-color: #131B26;
}
html:has(.theme-sasp) .table-page-access {
  text-shadow: 0px 0px 2px #131b26;
}
html:has(.theme-sasp) .theme-custom__control {
  background-color: transparent;
  border: 1px solid rgba(150, 150, 150, 0.5);
  color: #fff;
  cursor: pointer;
}
html:has(.theme-sasp) .theme-custom__control.theme-custom__control--is-focused {
  border-color: #b0b0b0;
  box-shadow: 0 0 15px rgba(150, 150, 150, 0.15);
}
html:has(.theme-sasp) .theme-custom__control .theme-custom__indicator-separator {
  display: none;
}
html:has(.theme-sasp) .theme-custom__control .theme-custom__value-container {
  color: inherit;
}
html:has(.theme-sasp) .theme-custom__control .theme-custom__single-value {
  color: inherit;
}
html:has(.theme-sasp) .theme-custom__control.theme-custom__input-container {
  color: inherit;
}
html:has(.theme-sasp) .theme-custom__control .theme-custom__multi-value {
  color: #131B26;
}
html:has(.theme-sasp) .theme-custom__control .theme-custom__multi-value .theme-custom__multi-value__label {
  color: #131B26;
  font-weight: 600;
}
html:has(.theme-sasp) .theme-custom__menu {
  /*  padding: 0 5px; */
}
html:has(.theme-sasp) .theme-custom__menu .theme-custom__option {
  background-color: #fff;
  color: #444;
  cursor: pointer;
}
html:has(.theme-sasp) .theme-custom__menu .theme-custom__option:hover {
  background-color: #2B7DE9;
  color: #fff;
}
html:has(.theme-sasp) .theme-custom__menu .theme-custom-option-selected {
  background-color: #2B7DE9;
  color: #fff;
}
html:has(.theme-sasp) .theme-dashboard-card {
  background-color: #131B26;
  box-shadow: 5px 5px 12px 0px rgba(19, 27, 38, 0.25);
}
html:has(.theme-sasp) .theme-dashboard-card .info-card-title {
  color: #fff;
}
html:has(.theme-sasp) .theme-dashboard-card .info-card-icon {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
}
html:has(.theme-sasp) .theme-dashboard-card-table {
  background-color: rgba(150, 150, 150, 0.5);
  box-shadow: 3px 3px 8px 0px rgba(19, 27, 38, 0.8);
}
html:has(.theme-sasp) .theme-dashboard-card-table .card-table-header {
  background-color: #131B26;
  color: #fff;
}
html:has(.theme-sasp) .input-theme-color svg {
  color: rgba(19, 27, 38, 0.5);
}
html:has(.theme-sasp) .input-theme-color input {
  border-color: rgba(19, 27, 38, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
}
html:has(.theme-sasp) .input-theme-color input:focus {
  border-color: #131b26;
  box-shadow: 0 0 15px rgba(19, 27, 38, 0.15);
}
html:has(.theme-sasp) .input-theme-color input::-moz-placeholder {
  color: rgba(19, 27, 38, 0.8);
}
html:has(.theme-sasp) .input-theme-color input::placeholder {
  color: rgba(19, 27, 38, 0.8);
}
html:has(.theme-sasp) .form-theme-color select,
html:has(.theme-sasp) .form-theme-color input,
html:has(.theme-sasp) .form-theme-color textarea {
  border: 1px solid rgba(150, 150, 150, 0.5);
  padding: 1rem;
  width: 100%;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
html:has(.theme-sasp) .form-theme-color select::-webkit-calendar-picker-indicator,
html:has(.theme-sasp) .form-theme-color input::-webkit-calendar-picker-indicator,
html:has(.theme-sasp) .form-theme-color textarea::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
html:has(.theme-sasp) .form-theme-color select:focus,
html:has(.theme-sasp) .form-theme-color input:focus,
html:has(.theme-sasp) .form-theme-color textarea:focus {
  border-color: #b0b0b0;
  box-shadow: 0 0 15px rgba(150, 150, 150, 0.15);
}
html:has(.theme-sasp) .form-theme-color label {
  display: block;
  margin-bottom: 1.3rem;
}
html:has(.theme-sasp) .form-theme-color option {
  color: black;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  font-size: 1.3rem;
}
html:has(.theme-sasp) .form-theme-color fieldset {
  border: 1px solid rgba(150, 150, 150, 0.5);
}
html:has(.theme-sasp) .form-theme-color-alt select,
html:has(.theme-sasp) .form-theme-color-alt input,
html:has(.theme-sasp) .form-theme-color-alt textarea {
  border: 1px solid rgba(19, 27, 38, 0.5);
  padding: 1rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
html:has(.theme-sasp) .form-theme-color-alt select::-webkit-calendar-picker-indicator,
html:has(.theme-sasp) .form-theme-color-alt input::-webkit-calendar-picker-indicator,
html:has(.theme-sasp) .form-theme-color-alt textarea::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
html:has(.theme-sasp) .form-theme-color-alt select:focus,
html:has(.theme-sasp) .form-theme-color-alt input:focus,
html:has(.theme-sasp) .form-theme-color-alt textarea:focus {
  border: 1px solid #131b26;
  box-shadow: 0 0 15px rgba(19, 27, 38, 0.3);
}
html:has(.theme-sasp) .form-theme-color-alt select::-moz-placeholder, html:has(.theme-sasp) .form-theme-color-alt input::-moz-placeholder, html:has(.theme-sasp) .form-theme-color-alt textarea::-moz-placeholder {
  color: #969696;
}
html:has(.theme-sasp) .form-theme-color-alt select::placeholder,
html:has(.theme-sasp) .form-theme-color-alt input::placeholder,
html:has(.theme-sasp) .form-theme-color-alt textarea::placeholder {
  color: #969696;
}
html:has(.theme-sasp) .form-theme-color-alt label {
  display: block;
  margin-bottom: 1.3rem;
}
html:has(.theme-sasp) .form-theme-color-alt option {
  color: black;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  font-size: 1.3rem;
}
html:has(.theme-sasp) .form-theme-color-alt fieldset {
  border: 1px solid rgba(19, 27, 38, 0.5);
}
html:has(.theme-sasp) .theme-text-editor {
  border: 1px solid rgba(150, 150, 150, 0.5);
  position: relative;
  margin: 25px 0;
}
html:has(.theme-sasp) .theme-text-editor:has(.ProseMirror-focused) {
  border-color: #b0b0b0;
  box-shadow: 0 0 15px rgba(150, 150, 150, 0.15);
}
html:has(.theme-sasp) .theme-text-editor-alt {
  border: 1px solid rgba(19, 27, 38, 0.5);
  position: relative;
  margin: 25px 0;
}
html:has(.theme-sasp) .theme-text-editor-alt:has(.ProseMirror-focused) {
  border: 1px solid #131b26;
  box-shadow: 0 0 15px rgba(19, 27, 38, 0.3);
}
html:has(.theme-sasp) .theme-card-trombinoscop {
  background-color: #131b26;
  border: 0.5px solid rgba(43, 125, 233, 0.31);
}
html:has(.theme-sasp) .aside-agent-bg,
html:has(.theme-sasp) .aside-civil-bg {
  background-color: #131B26;
}
html:has(.theme-sasp) .aside-agent-bg .photo,
html:has(.theme-sasp) .aside-civil-bg .photo {
  border: 1px solid #2b7de9;
}
html:has(.theme-sasp) .bg-card-item {
  background-color: #131B26;
  box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.15);
}
html:has(.theme-sasp) .theme-bg-tooltip {
  background-color: #131B26;
}
html:has(.theme-sasp) .bg-card-item-alt {
  background-color: #2C3748;
  box-shadow: 1px 1px 8px 3px rgba(0, 0, 0, 0.15);
}
html:has(.theme-sasp) .bg-icon-card-item {
  background-color: #131B26;
}
html:has(.theme-sasp) .bg-panic-button {
  background-color: rgba(19, 27, 38, 0.5);
  text-transform: uppercase;
  border: 1px solid #131B26;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
}
html:has(.theme-sasp) .bg-panic-button:hover {
  background-color: #131b26;
}
html:has(.theme-sasp) .bg-panic-button:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
html:has(.theme-sasp) .panic-btn-activate {
  background-color: rgba(130, 12, 12, 0.5);
  border: 1px solid #820c0c;
  text-shadow: 0px 3px 8px #000000;
}
html:has(.theme-sasp) .panic-btn-activate:hover {
  background-color: #820c0c;
}
html:has(.theme-sasp) .add-row-saisie-btn {
  opacity: 0.5;
}
html:has(.theme-sasp) .add-row-saisie-btn:hover {
  opacity: 1;
}
html:has(.theme-sasp) .add-row-saisie-btn:active {
  opacity: 0.5;
}
html:has(.theme-sasp) .remove-row-saisie-btn {
  opacity: 0.5;
  background-color: #fff;
  color: #131B26;
}
html:has(.theme-sasp) .remove-row-saisie-btn:hover {
  opacity: 1;
}
html:has(.theme-sasp) .remove-row-saisie-btn:active {
  opacity: 0.5;
}
html:has(.theme-sasp) .form-tab-select .react-tabs__tab--selected {
  border-radius: 5px;
  padding: 0.5rem 1.3rem;
  background-color: #969696;
  color: #131B26;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background 0.35s;
  -webkit-transition: background 0.35s;
  -moz-transition: background 0.35s;
  -ms-transition: background 0.35s;
  -o-transition: background 0.35s;
}/*# sourceMappingURL=sasp-theme.css.map */